body, html {
    height: 100%; /*Sets the height of the body and html to 100%.*/
    margin: 0; /*Removes the default margin from the body and html */
    display: flex; 
    align-items: center; /*Line vertically aligns the flex children in the middle */
    justify-content: center; /*Line vertically aligns the flex items in the middle */
  }
  
  video {
    display: block;
    max-width: 80%; 
    height: auto;
    margin: 0 auto;
  }